#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        COMBO_BS {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 9>;
        };

        COMBO_DEL {
            bindings = <&kp DELETE>;
            key-positions = <7 8>;
        };

        COMBO_TAB {
            bindings = <&kp TAB>;
            key-positions = <1 2>;
        };

        COMBO_SPACE {
            bindings = <&kp SPACE>;
            key-positions = <13 14>;
        };

        COMBO_SCR_LEFT {
            bindings = <&kp LG(LC(LEFT))>;
            key-positions = <14 15>;
        };

        COMBO_SCR_RIGHT {
            bindings = <&kp LG(LC(RIGHT))>;
            key-positions = <15 16>;
        };

        COMBO_WIN_TAB {
            bindings = <&kp LG(TAB)>;
            key-positions = <14 16>;
        };

        COMBO_ALT_TAB {
            bindings = <&kp LA(TAB)>;
            key-positions = <2 3>;
        };

        COMBO_RALT_TAB {
            bindings = <&kp LA(LS(TAB))>;
            key-positions = <3 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U  &kp I  &kp O  &kp P  &kp BSPC  &kp LCTRL  &kp A  &kp S  &kp D  &kp F  &kp G  &kp H  &kp J  &kp K  &kp L  &kp SEMI  &kp SQT  &kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp INT_YEN  &kp LGUI  &lt 2 LANG_HANJA  &kp SPACE  &mt RIGHT_ALT ENTER  &lt 1 LANG_HANGEUL  &mo 3
            >;
        };

        nav {
            display-name = "NAV";
            bindings = <
&kp ESCAPE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp BSPC  &kp LCTRL  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp LSHFT  &studio_unlock  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp F12  &kp LGUI  &trans  &kp SPACE  &kp RET  &trans  &kp RALT
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
&kp TAB  &kp EXCL  &kp DOUBLE_QUOTES  &kp HASH  &kp DLLR  &kp PRCNT  &kp AMPERSAND  &kp SINGLE_QUOTE  &kp LPAR  &kp RPAR  &kp AT  &kp BSPC  &kp LCTRL  &trans  &trans  &trans  &trans  &trans  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp BSLH  &kp GRAVE  &kp LSHFT  &trans  &trans  &trans  &trans  &trans  &kp UNDER  &kp PLUS  &kp LBRC  &kp RBRC  &kp PIPE  &kp TILDE  &kp LGUI  &trans  &kp SPACE  &kp RET  &trans  &kp RALT
            >;
        };

        adj {
            display-name = "ADJ";
            bindings = <
&mo TAB  &trans  &kp F7  &kp F8  &kp F9  &kp F12  &kp C_VOL_DN  &kp HOME  &kp UP_ARROW  &kp END  &trans  &kp BSPC  &kp LCTRL  &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT  &trans  &trans  &bt LSHFT  &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans  &trans  &kp PAGE_UP  &kp PAGE_DOWN  &trans  &trans  &kp LGUI  &mo 2  &kp SPACE  &kp RET  &mo 1  &kp RALT
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
